@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  background: $blue;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $blue;
  color: #fff;
  display: flex;
  padding: 16px;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  justify-content: center;
  min-height: 100vh;
}

.counter {
  height: 280px;
  width: 280px;
  background: url(../assets/img/water-glass.svg) center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 112px;
  &__value {
    display: block;
    padding-top: 64px;
  }
}

.heading {
  font-size: 55px;
  margin: 0 0 64px 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.glass-add {
  padding: 12px;
  font-size: 18px;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 4px;
  min-width: 216px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 26px 0 46px;
}

.glass-remove {
  background: none;
  border: none;
  color: #f5e5e7;
  padding: 12px;
  font-size: 14px;
  min-width: 216px;
}
