@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  background: $blue;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $blue;
  color: #fff;
  display: flex;
  padding: 16px;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
