@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #e5e5e5;
}

.water {
  background: #3767AD;
  height: 812px;
  position: relative;
  width: 375px;
}
