@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #e5e5e5;
}

.water {
  background: #3767ad;
  height: 812px;
  margin: auto;
  position: relative;
  width: 375px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.glass {
  position: absolute;
  height: 280px;
  left: 47px;
  top: 203px;
  width: 280px;
  &__image {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 0%;
    bottom: 0%;
  }
  &__water {
    position: absolute;
  }
  &__number {
    position: absolute;
  }
}
