@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #e5e5e5;
}

.water {
  background: #3767ad;
  height: 812px;
  margin: auto;
  position: relative;
  width: 375px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.glass {
  position: absolute;
  height: 280px;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 203px;
  width: 280px;
  &__image {
    height: 280px;
    position: absolute;
    margin-left: 12.5%;
    margin-right: 12.5%;
    top: 0%;
    bottom: 0%;
    width: 210px;
  }
  &__water {
    height: 200px;
    position: absolute;
    left: 20.88%;
    right: 21.62%;
    top: 22.47%;
    bottom: 6.25%;
  }
  &__number {
    display: flex;
    position: absolute;
    left: 38.13%;
    right: 38.4%;
    top: 39.04%;
    bottom: 48.89%;
    align-items: center;
    font-family: "roboto";
    font-size: 112px;
    font-weight: 500;
  }
}

.glass-actions {
  display: flex;
  position: absolute;
  flex-direction: column;
  font-family: "roboto";
  margin: 531px 80px 174px 80px;
  &__add {
    background: #FFFFFF;
    color: #000000;
    height: 48px;
    width: 216px;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 37px;
  }
  &__remove {
    color: #F5E5E7;
    background: none;
    border: none;
    height: 24px;
    width: 124px;
    font-size: 14px;
  }
}
